html,
body {
    height: 100%;/*外層高度100%*/
    margin: 0;
}

.wrapper {
    min-height: 100%;
    min-height: calc(100% - 50px);
    /*外層高度100%*/
    margin-bottom: -50px;
    /*隨footer高度需做調整*/
}

.contant {
    padding-bottom: 50px;
    /*避免文字超出瀏覽器時，內容區塊不會和footer打架*/
}

.footer {
    margin-top: 80px;
    height: 40px;
    /*設定footer本身高度*/
    background-color: #76C784;
    text-align: center;
    padding-top: 25px;
    position: fixed;
    bottom: 0;
    width: 100%; 
}
