p {
  font-size: 20px;
}

.winnie {
  display: flex;
  justify-content: center;
}

.shelfclassbtn5 {
  width: 180px;
  font-size: 20px;
  font-weight: bolder;
  background-color: #98FFB7;
}

.gogo {
  background-color: #FFBC1D;
  padding: 10px;
  border-radius: 3px;
}

.tt {
  font-size: 40px;
}

.ww {
  font-size: 28px;
}

.imgtype{
  width: 450px;
  height: 350px;
}